* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    color: white;
    text-align: center;
    min-height: 100vh;
    background: #00456a;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #186a96;
    padding: 20px 40px;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button, 
.reset {
    padding: 15px 20px;
    color: #00456a;
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.reset:focus {
    color: white;
    background: #00456a;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  grid-gap: 10px;
  margin: 10px; 
  justify-content: center;
  padding: 10px;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
}

.card {
    background-image: url("images/interrogation.jpg");
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.card .card-content {
    opacity: 0;
    transition: all 0.3s;
}

.card.flip .card-content {
    opacity: 1;
    max-width: 100%;
    border-radius: 10px;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.matched {
    box-sizing: border-box; 
    cursor: default;
}

.success {
    border-radius: 5px;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}


